a{	
	text-decoration: none;
	color: #4CAF50;
}
.button {
	padding: 10px 20px;
	background-color: #4CAF50;
	text-decoration: none;
	color: white;
}
.hapus{
	color: #f44336;
}
div	{
	margin: auto ;
	width: 400px;
	margin-top: 10px;
}
div .list{
	margin: auto ;
	width: 800px;
	margin-top: 10px;
}
table {
	border-style: none;
	border-collapse: collapse;
}
th{
	background-color: #f44336;
	padding: 5px;
	border: none;
	font-size: 16px;	
}
td{
	border: none;
}
input[type=text]{
	padding: 10px;
	width: 380px;
	border-style: solid;
	border-color: #6d6e6a;
	font-size: 16px;
}
input[type=submit],input[type=reset] {
	width: 49%;
	display: inline;
	height: 40px;
	background-color: #4CAF50;
    border: none;
    color: white;
    padding: 10px;
    font-size: 16px;
    cursor: pointer;
}
input[type=reset] {
	float: right;
	background-color: #f44336;
}
input[type=text]:disabled, textarea:disabled{
	background-color: white;
}
